nav ul {
  list-style: none;
}
nav li { 
   display: inline;
   margin-right: 30px;
}
a {
  text-decoration: none;
}
body {
       background-color: black;
}
h2 {
  color: white;
  }
p {
    color: white;
}
