body {
    transition: background-color 0.3s ease;
}
nav ul {
    display: flex;
    list-style: none;
   }
   nav li { 
    margin-right: 30px;
}
   #theme-switch:checked ~ body {
       background-color: black;
}
   h2 {
  color: white;
  }
   #theme-switch:checked ~ p {
    color: white;
   }
.theme-switch-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 25px;
}
#theme-switch {
    opacity: 0;
    width: 0;
    height: 0;
}
.theme-switch-container {
    position: relative;
    width: 40px;
    height: 20px;
    margin: 20px;
}
