nav ul {
    display: flex;
    list-style: none;
   }
   nav li { 
    margin-right: 30px;
   }
   .darkmode body {
  background-color: black;
  }
   .darkmode h2 {
  color: white;
  }
   .dark-mode p {
    color: white;
   }
